#fundo{
  background-image: url('backgroundmadeby@ciipedrini5x4.webp');
  background-position: center;
  background-size: cover;}

 #quadradonomeio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 300px;
  margin: 200px auto;
  padding: 40px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(109, 22, 160, 0.8),rgba(104, 13, 156, 0.8));
  background-position: center;
  background-size: cover;
}

@media (max-width: 600px) {
  #quadradodomeio{
    width: 90vw;
    height: 180px;
    padding: 20px;
    margin: 40px auto;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.saudacao{
  font-size: larger;
    font-family:monospace;
    font-size: 20px;
    color: rgb(187, 124, 206);
    text-shadow: #fcfbfc 1px 1px 1px;
}
h4 {
font-size: larger;
  font-family:monospace;
  color: rgb(187, 124, 206);
  text-shadow: #fcfbfc 1px 1px 1px;
  
}
#form{
 
  display: flex;
  flex-direction: column;
  padding: 5px;
}
#email{
border: rgb(148, 97, 163);
border-radius: 10px;
background-color: rgb(227, 220, 230);
}
#senha{
  background-color: rgb(227, 220, 230);
  border: rgb(148, 97, 163);
border-radius: 10px;
}
#entrar{
  color: rgb(107, 19, 134);;
border: 5px solid rgb(187, 124, 206);
border-radius: 10px;
background-color: rgb(187, 124, 206);
}
#cad{
  font-family: monospace;
  color: rgb(187, 124, 206);
   text-shadow: #fcfbfc 1px 1px 1px;
}

